<html>
<body>

<a href="/logout">Signout</a>
<br><br>

<form action="/movies" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name"/><br/>
    </div>
    <div>
        <label>Writer:</label>
        <input type="text" name="writer"/><br/>
    </div>
    <div>
        <label>Director:</label>
        <input type="text" name="director"/>
    </div>
    <div>
        <label>Producer:</label>
        <input type="text" name="producer"/>
    </div>
    <div>
        <label>Editor:</label>
        <input type="text" name="editor"/>
    </div>
    <div>
        <label>Actors:</label>
        <input type="text" name="actors"/>
    </div>
    <div>
        <label>Year:</label>
        <input type="text" name="year"/>
    </div>
    <br>
    <div>
        <input type="submit" value="Add Movie"/>
    </div>
</form>

<br>
<a href="/dashboard">Click here to go back to dashboard</a>

</body>
</html>