

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(function(){
            getMovies('ALL', '');
        });

        function getMovies(searchCriteria, searchString) {
            $.ajax('/movies?searchCriteria=' + searchCriteria + '&searchString=' + searchString, {
                type : 'GET',
                dataType : 'json',
                success : function(data, status, header, config) {
                    displayMovies(data);
                },
                error : function(data, status, header, config) {

                }
            });
        }

        function displayMovies(data) {
            var movies = JSON.parse(data);
            $("#movies").find("tr:gt(0)").remove();
            for ( var i = 0 ; i < movies.length ; i++ ) {
                var movieRow = '<tr>';
                movieRow += '<td>' + movies[i].name + '</td>';
                movieRow += '<td>' + movies[i].writer + '</td>';
                movieRow += '<td>' + movies[i].director + '</td>';
                movieRow += '<td>' + movies[i].producer + '</td>';
                movieRow += '<td>' + movies[i].editor + '</td>';
                movieRow += '<td>' + movies[i].actors + '</td>';
                movieRow += '<td>' + movies[i].year + '</td>';
                movieRow += '<td>' + movies[i].status + '</td>';
                movieRow += '<td>' + movies[i].timesRented + '</td>';
                movieRow += '<td>' + movies[i].currentlyRentedBy + '</td>';
                movieRow += '<td>' + movies[i].createdDate + '</td>';
                movieRow += '<td><a href="" id="' + movies[i]._id + '">Delete</a> | <a href="movies/edit/' + movies[i]._id + '">Edit</a></td>';
                movieRow += '</tr>';
                $("#movies").append(movieRow);
                $('#' + movies[i]._id).click(deleteMovie);
            }
        }

        function searchMovies() {
            var searchCriteria = 'name';
            var searchString = $("#movieSearch").val();

            if ( searchString === '' ) {
                searchCriteria = 'ALL';
            }
            getMovies(searchCriteria, searchString);
        }

        var deleteMovie = function() {
            $.ajax('movies/' +  $(this).attr('id'), {
                type : 'DELETE',
                dataType : 'json',
                success : function(data, status, header, config) {
                    getMovies('ALL', '');
                },
                error : function(data, status, header, config) {

                }
            });
        }

    </script>
</head>
<body>
    <a href="/logout">Signout</a>
    <br><br>

    <a href="/movies/add">Add New Movie</a>
    <br><br>

    <div>
        <label>Search Movies:</label>
        <input type="text" name="movieSearch" id="movieSearch"/><br/>
    </div>
    <div>
        <input type="button" value="Search" onclick="searchMovies()"/>
    </div>
    <br>

    <table id="movies">
        <tr>
           <th>Name</th>
           <th>Writer</th>
           <th>Director</th>
           <th>Producer</th>
           <th>Editor</th>
           <th>Actors</th>
           <th>Year</th>
           <th>Status</th>
           <th>Times Rented</th>
           <th>Currently Rented By</th>
           <th>Crated Date</th>
           <th>Action</th>
        </tr>
    </table>
</body>
</html>