<html>

<body>

<a href="/logout">Signout</a>
<br><br>

<form action="/editmovie/{{movie._id}}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name" value="{{movie.name}}"/><br/>
    </div>
    <div>
        <label>Writer:</label>
        <input type="text" name="writer" value="{{movie.writer}}"/><br/>
    </div>
    <div>
        <label>Director:</label>
        <input type="text" name="director" value="{{movie.director}}"/>
    </div>
    <div>
        <label>Producer:</label>
        <input type="text" name="producer" value="{{movie.producer}}"/>
    </div>
    <div>
        <label>Editor:</label>
        <input type="text" name="editor" value="{{movie.editor}}"/>
    </div>
    <div>
        <label>Actors:</label>
        <input type="text" name="actors" value="{{movie.actors}}"/>
    </div>
    <div>
        <label>Year:</label>
        <input type="text" name="year" value="{{movie.year}}"/>
    </div>
    <div>
        <label>Status:</label>
        <input type="text" name="status" value="{{movie.status}}"/>
    </div>
    <br>
    <div>
        <input type="submit" value="Edit Movie"/>
    </div>
</form>

<br>
<a href="/dashboard">Click here to go back to dashboard</a>

</body>
</html>